/* styles.css */

/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}

/* Estilos del encabezado */
header {
    background-color: #000;
    color: #fff;
    padding: 1em;
    text-align: center;
    font-size: 36px;
}

/* Estilos del menú de navegación */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px; /* Espacio entre los enlaces */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s; /* Efecto de cambio de color al pasar el cursor */
}

nav ul li a:hover {
    color: #0074d9; /* Color al pasar el cursor */
}

/* Estilos de la página principal */
.main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: left;
}

h2 {
    margin-top: 20px;
    color: #fff;
}

form {
    margin-bottom: 20px;
    background-color: #333333;
    padding: 20px;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

